 <style type="text/css">
    #dataTables-example_filter{
        display: none;
    }
    td{
        line-height: 100%;  
    }
 </style>
 <div class="panel panel-default" style="margin-top: 40px;">
                        <div class="panel-heading">
                            新闻信息管理
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>类别</th>
                                            <th>操作方式</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                    <?php foreach ($arr as $k => $v):?>
                                        <tr class=>
                                            <td>{$v.name}</td>
                                            <td><?php if($v['class_id'] == 1)echo "院校名师";else echo "专家学者";?></td>
                                            <td><a style="margin-left:30%;" class='glyphicon glyphicon-edit' title="编辑" href="__MODULE__/index/showtea?id={$v.id}"></a>
                                                <a style="margin-left: 30%;" href="__MODULE__/index/deltea?id={$v.id}" class='fa fa-trash-o' title='删除'>
                                            </a>
                                            </td>
                                            
                                        </tr>
                                    <?php endforeach;?>  
                                        
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>