<style type="text/css">
    form{
        font-size: 16px;
        font-weight: bolder;
    }
</style>
 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">资料编辑</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">资料编辑</div>
            <div class="panel-body">
                <div class="row">
                    <form action={:U('index/showtea',array('id' => $arr['id']))} method="post" enctype="multipart/form-data">
                        姓名
                        <input type="text" name ='name' class="form-control" placeholder= '请输入老师姓名' value={$arr.name} >
                        职称
                        <select class='form-control' name ='state'>
                            <option value="1">院校名师</option>
                            <option value="2">实战专家</option>
                        </select>

                        <br>
                        上传老师展示照片
                        <input type="file" name = 'picture'>
                           <br>
                        <div class="col-md-12">
                            <script id="uecontainer" name="info" type="text/plain" >{$arr.info}</script>
                        </div>

                        <input type="submit" class="btn btn-info" style="float: right;margin-right: 3%;" value="添加"></form>

                </div>
                <!-- /.row (nested) --> </div>
            <!-- /.panel-body --> </div>
        <!-- /.panel --> </div>
    <!-- /.col-lg-12 -->
</div>

 <!-- 配置文件 --> 
 <script type="text/javascript" src="__PUBLIC__/editor/ueditor.config.js"></script>
 <!-- 编辑器源码文件 --> 
 <script type="text/javascript" src="__PUBLIC__/editor/ueditor.all.js"></script>
 <!-- 实例化编辑器 --> 
 <script type="text/javascript">var ue = UE.getEditor('uecontainer');</script>
 <script type="text/javascript">
    $('document').ready(function(){
         var index ={$arr.class_id} - 1;
         $('option').get(index).selected = true;
    });
   
 </script>