	<div id="footer">
		<div class="footer-wrap"style="position:relative;">
			<div class="footer-wrap-content" >
				<p>
					友情链接&nbsp;:
					<a href="http://www.hust.edu.cn" target="blank">华中科技大学</a>
					&nbsp;xxxxxx公司 &nbsp;版权所有
				</p>
				<p>地址&nbsp;: 武汉市洪山区珞瑜路1037号</p>
			</div>
			<img id="erweima"src="__PUBLIC__/home/image/weixing-ma.jpg" style="width: 68px; height: 68px;" />
			<div id="lgerweima"style="position:absolute; border-radius:4px;box-shadow:0 0 5px red;width:200px;height:200px;left:250px;top:-100px;display:none;"> <img src="__PUBLIC__/home/image/weixing-ma.jpg" alt="" style="width:200px;height:200px;margin:0px;">
			</div>
		</div>
		<!-- footer-wrap end -->
	</div>
	<!-- footer end -->
	
	
	<script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script>
	
	<script>
	$('doucument').ready(function(){
		$("#{$li} dt a").addClass('special');
		$(".top-bar ul li").eq({$id-1}).children('a').css({
			'font-weight':800,
			'font-size':"16px",
			"color":'#d20000',
		});
		$('.rank-bar span:lt(3)').css({
			'background': '#d31515',
			
		});
		$('.rank-bar a').eq(0).css({
			'color': '#d83333',
			'font-weight':"bolder"
		});
		$("#erweima").hover(function() {
			$("#lgerweima").fadeIn(500);
		}, function() {
			$("#lgerweima").fadeOut(500);
		});
		
	});
		
	</script>
</body>
</html>