<!DOCTYPE html>
<html>
<head>
	<title>[title]--人才培训中心（楚天中书）</title>

	<meta charset="UTF-8" />
	<meta name="Keywords" content="华中科技大学人才培训中心（TDP）,国学研究院文化交流中心,武汉楚天中书文化传播有限公司，EMBA总裁班培训,企业大学商学院内训培训,中高层总监人力资源营销培训班公开课" />
	<meta name = "Description"content = "华中科技大学人才培训中心，国学研究院文化交流中心，提供人才培训，行业培训，干部培训，EMBA总裁班培训，企业大学商学院内训培训等。"/>
	<meta name="Author" content="DotWe"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/header.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/formreset.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/template.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/teacher.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/news.css" />
	<link rel="stylesheet" href="__PUBLIC__/home/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/focus_box.css">
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
	<script>
		$(document).ready(function() {
			$('.search-btn').click(function(event) {
			
				var value=$('.search').val();
				$.ajax({
					url: '{:U('/searchcer')}'+"?"+Math.random(),
					type: 'post',
					data: {number: value},
					success:function(response){
						response=eval(response);
						var str ="";
						if(response.length>0){
							str = "姓名:"+response[0].name+"  证书编号:"+response[0].number+"  班级:"+response[0].class;
							alert(str);
						}else{
							alert('没有证书信息，请检查输入是否正确。');
						}
					}
				});
			});
		});
	</script>
</head>
<body>
	<!-- 代码开始 -->
	<div class="main-im" style='z-index:9999;'>
		<div id="open_im" class="open-im">&nbsp;</div>
		<div class="im_main" id="im_main">
			<div id="close_im" class="close-im">
				<a href="javascript:void(0);" title="µã»÷¹Ø±Õ">&nbsp;</a>
			</div>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=315955204&site=qq&menu=yes" target="_blank" class="im-qq qq-a" title="QQ咨询">
				<div class="qq-container"></div>
				<div class="qq-hover-c">
					<img class="img-qq" src="__PUBLIC__/home/image/qq.png"></div>
				<span>QQ在线咨询</span>
			</a>
			<div class="im-tel">
				<div>电话咨询</div>
				<div class="tel-num" style="margin-bottom:-20px;">027-87540112</div>
			</div>
			<div class="im-footer" style="position:relative">
				<div class="weixing-container">
					<div class="weixing-show">
						<div class="weixing-txt">
							微信扫一扫
							<br>关注微信公共号</div>
						<img class="weixing-ma" src="__PUBLIC__/home/image/weixing-ma.jpg">
						<div class="weixing-sanjiao"></div>
						<div class="weixing-sanjiao-big"></div>
					</div>
				</div>
				<div class="go-top">
					<a href="javascript:;" title="回到顶部"></a>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
	<!-- 代码结束 -->
	<div id="header">
		<div class="header-content">
			<a href="{:U('index')}" class="logo">
				<img src="__PUBLIC__/home/image/logo.jpg" alt="回到首页"  style="height:80px;margin-top:10px;" />
			</a>
			<div class="cut-off-line"></div>
			<div class="title">
				<h2 style="letter-spacing: 1px;">人才培训中心（TDP）</h2>
				<div class="level-line"></div>
				<h2>国学研究院文化交流中心</h2>
			</div>
			<!-- title end -->
			<div class="slogan">
				<p class="slogan-content">以学聚友 以友辅仁</p>
				<p class="phone">
					<img src="__PUBLIC__/home/image/dianhua.jpg" />
					<span>027-87540112</span>
				</p>
			</div>
			<!-- slogan end -->
			<div class="search-box">
				<div class="collect">
					<span>
						<a href="#" id="addfavorite">加入收藏</a>
					</span>
					<div></div>
					<span>
						<a href="{:U('/entry')}">联系我们</a>
					</span>
				</div>

				<div>
					<input type="text"  placeholder="输入证书编号查询" name="number" class="search" />
					<input type="submit" value="" class="search-btn" /> <i class="fa fa-search dingwei"></i>
				</div>
			</div>
			<!-- search-box end-->
		</div>
		<!-- header-content end -->
	</div>

	<div id = "navigation">
		<ul>
			<li id = "first">
				<dl>
					<dt>
						<a href={:U('/index')}>网站首页</a>
					</dt>
				</dl>
			</li>
			<li id ="info">
				<dl>
					<dt>
						<a href={:U('/info')}>中心介绍</a>
					</dt>
				</dl>
			</li>
			<li id = "newsli">
				<dl>
					<dt>
						<a href={:U('/news/1')}>新闻资讯</a>
					</dt>
					<dd class = "newsdd">
						<a href={:U('/news/1')}>新闻资讯</a>
						<a href={:U('/news/2')}>通知公告</a>
						<a href={:U('/news/3')}>招生信息</a>

					</dd>
				</dl>
			</li>
			<li id = "teachli">
				<dl>
					<dt>
						<a href={:U('/edu/1')}>教育项目</a>
					</dt>
					<dd class = "teachdd">
						<a href={:U('/edu/1')}>国学大讲堂</a>
						<a href={:U('/edu/2')}>精品研修班</a>
						<a href={:U('/edu/3')}>职业训练营</a>
					</dd>
				</dl>
			</li>
			<li id = "talentli">
				<dl>
					<dt>
						<a href={:U('/tra/1')}>人才培训</a>
					</dt>
					<dd class = "talentdd">
						<a href={:U('/tra/1')}>企业内训</a>
						<a href={:U('/tra/2')}>干部培训</a>
						<a href={:U('/tra/3')}>行业定制</a>
					</dd>
				</dl>
			</li>
			<li id = "educateli">
				<dl>
					<dt>
						<a href={:U('/stu/1')}>教学教务</a>
					</dt>
					<dd class = "educatedd">
						<a href={:U('/stu/1')}>教务管理</a>
						<a href={:U('/stu/2')}>培训教室</a>
						<a href={:U('/stu/3')}>后勤保障</a>
					</dd>
				</dl>
			</li>
			<li id = "expertli">
				<dl>
					<dt>
						<a href={:U('/tea/1')}>师资力量</a>
					</dt>
					<dd class = "expertdd">
						<a href={:U('/tea/1')}>院校名师</a>
						<a href={:U('/tea/2')}>实战专家</a>
					</dd>
				</dl>
			</li>
			<li id="entry">
				<dl>
					<dt>
						<a href ={:U('/entry')} >在线报名</a>
					</dt>
				</dl>
			</li>
		</ul>

	</div>