<extend name="Public:base"/>
<block name="header">
	<include file="Public:header" title="在线报名"/>
</block>
<block name="bread">
	<a href="">在线报名</a>
</block>
<block name="content">
	<div class="news-wrap">
		<div id = "form_div">

			<form action = "{:U('/entry')}" method = "post" id = "form">
				<span>标题</span>
				<input type = "text" name = "title" id = "title"placeholder="请输入标题">
				<br>
				<span>姓名</span>
				<input type = "text" name = "name" id = "name" maxlength = "30"placeholder="请输入姓名">
				<br>
				<span>联系电话</span>
				<input type = "text" name = "tell" id = "tell" placeholder="格式：133-3333-3333" >
				<br>
				<span class = "message_span">基本介绍</span>
				<textarea cols = "60" rows = "10" name = "info" id = "info"placeholder="请输入基本介绍" ></textarea>
				<br>
				<input type = "submit" value = "提    交" name = "submit" ></form>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/home/js/checkForm.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/validate.js"></script>
	<script type="text/javascript">
		$('document').ready(function() {
			if({$bool|default=0}==1){
				alert('报名成功');
			}
		
		});
		
	</script>
</block>
<block name="topImage">
	<div class="top-pic">
		<img src="__PUBLIC__/home/image/entry.jpg" style="width: 980px;height: 200px;" />
	</div>
</block>