<extend name="Public:base"/>
<block name="header">
	<include file="Public:header" title="教学教务"/>
</block>
<block name="content">
	<div class="main-content">
		<h2>{$arr[$id-1]['title']}</h2>
		<p class="date">
			{$arr[$id-1]['date']} 发布,&nbsp;
			<span>{$arr[$id-1]["page_view"]}浏览</span>
		</p>
		{$arr[$id-1]['content']}
		<p class="bottom-info">华中科技大学高级研修班即将开班，期待你的加入</p>
		<p class="bottom-info">咨询电话&nbsp;:&nbsp;027-87540112</p>
		<p class="bottom-info" style="padding-bottom: 40px;">地址&nbsp;:&nbsp;华中科技大学国学研究院文化中心</p>
	</div>
</block>

<block name="top">
	<div class="top-bar">
		<p>教学教务</p>
		<ul>
			<li>
				<a href="{:U('/stu/1')}">教务管理</a>
			</li>
			<li>
				<a href="{:U('/stu/2')}">培训教室</a>
			</li>
			<li>
				<a href="{:U('/stu/3')}">后勤保障</a>
			</li>
		</ul>
	</div>
</block>
<block name="topImage">
	<div class="top-pic">
		<img src="__PUBLIC__/home/image/stu.jpg" style="width: 980px;height: 200px;" />
	</div>
</block>
<block name="bread">
	<a href="">教学教务</a>
</block>