<extend name="Public:base"/>
<block name="header">
	<include file="Public:header" title="师资力量"/>
</block>
<block name="top">
	<div class="top-bar">
		<p>师资力量</p>
		<ul>
			<li>
				<a href="{:U('/tea/1')}">院校名师</a>
			</li>
			<li>
				<a href="{:U('/tea/2')}">实战专家</a>
			</li>

		</ul>
	</div>
</block>

<block name="topImage">
	<div class="top-pic">
		<img src="__PUBLIC__/home/image/tea.jpg" style="width: 980px;height: 200px;" />
	</div>
</block>
<block name="bread">
	<a href="">师资力量</a>
</block>

<block name="content">
	<div class="teacher">
		<div class="teacher-pics">
			<ul class="pics-wrapper" id="pics-lists">

				<?php foreach($arr as $k =>
				$v):?>
				<li class="pics-show">
					<img src=<?=".".$v['picture']?>
					/>
					<p>
						<a href={:U('/tea/'.$id."/".$v['id'])}>{$v.name}</a>
					</p>
				</li>
				<?php endforeach;?></ul>
			<!-- pics-wrapper end -->

			<!--清除浮动-->
			<div style="height: 0px; clear: both;"></div>

			<p id="button-wrapper" class="btn-wrap">
				<button>首页</button>
				<button class="previous-page">上一页</button>
				<button>下一页</button>
				<button>尾页</button>
				&nbsp;&nbsp;
						页码&nbsp;:&nbsp;
				<span>1</span>
				&nbsp;/&nbsp;
				<span>6</span>
			</p>
			<!-- btn-wrap end -->
		</div>
		<!-- teacher-pics end -->

		<div class="other-info">
			<p class="contact-info">华中科技大学高级研修班即将开班，期待你的加入</p>
			<p class="contact-info">咨询电话&nbsp;:&nbsp;027-87540112</p>
			<p class="contact-info" style="padding-bottom: 40px;">地址&nbsp;:&nbsp;华中科技大学国学研究院文化中心</p>
		</div>

	</div>
</block>
<block name="footer">
<script type="text/javascript" src="__PUBLIC__/home/js/changepage.js"></script>
<include file="Public:footer"/></block>