/* css reset */
*{
	margin: 0px;
	padding: 0px;
}
*:focus {outline: none;}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
	font: normal 100 14px "Microsoft Yahei",sans-serif;
}

/*header*/
#header{
	width: 100%;
	height: 100px;
}
.header-content{
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	background: #fff;
}
.logo img{
	border: 0;
	height: 93px;
}
.cut-off-line{
	display: inline-block;
	width: 0px;
	height: 62px;
	margin: 19px 14px;
	border-left: 1px solid #999;
}
.level-line{
	display: inline-block;
	height: 0px;
	width: 200px;
	border-bottom: 1px solid #999;
}
.title, .title h2{
	display: inline-block;
}
.title{
	font-size: 0px;
	height: 79px;
	width: 200px;
	margin: 19.5px 80px 1.5px 0px;
}
.title h2{
	height: 30px;
	width: 200px;
	font: normal bold 16px/30px "Microsoft Yahei",sans-serif;
	text-align: center;
	color: #666;
}
.logo, .cut-off-line, .title, .slogan{
	float: left;
}
.slogan{
	margin-top: 10px;
}
.slogan p.slogan-content{
	font: normal 100 24px/48px "颜体","华文行楷";
	color: #666;
}
.slogan p.phone{
	margin-top: -8px;
}
.slogan p.phone img{
	vertical-align: middle;
}
.slogan p.phone span{
	display: inline-block;
	color: #ff0404;
	font: normal bold 16px/48px "Microsoft Yahei",sans-serif;
	text-indent: 5px;
}
.search-box{
	float: right;
	width: 278px;
	font-family: "Microsoft Yahei",sans-serif;
}
.search-box .collect div{
	display: inline-block;
	vertical-align: middle;
	width: 0px;
	height: 14px;
	border-left: 1px solid #666;
}
.collect{
	width: 278px;
	text-align: center;
	margin-top: 8px;
}
.collect span{
	display: inline-block;
	height: 48px;
	font: normal 100 13.33px/48px "Microsoft Yahei",sans-serif;
}
.collect span a:link, .collect span a:visited{
	color: #c9c9c9;
}
.collect span a:hover{
	color: red;
}
.search-box div{
	position: relative;
}
.search{
	width: 240px;
	height: 26px;
	border: 1px solid #999;
	text-indent: 2px;
}
.search-btn{
	position: absolute;
	left:242px;
	top: 0px;
	cursor: pointer;
	width:36px;
	height: 28px;
	border: none;
	z-index: 111;
	background: rgba(0,0,0,0);
}
.dingwei{
	position: absolute;
	left:242px;
	top: 0px;
	font-size: 25px !important;
	background-color: #dc2323;
	width:36px;
	height: 28px;
	text-align: center;
}


/*footer*/
#footer{
	height: 164px;
	width: 100%;
	min-width: 1100px;
	background: #545454;
	margin-top: 50px;
}
.footer-wrap{
	background: #545454;
	width: 1010px;
	height: 154px;
	margin: 0 auto;
	padding-top: 10px;
	font: normal 100 13.33px/30px "Microsoft Yahei",sans-serif;
	color: #e8e8e8;
}
.footer-wrap-content{
	float: left;
	width: 415px;
}
.footer-wrap-content a:link, .footer-wrap-content a:visited{
	color: #e8e8e8;
}
.footer-wrap-content a:hover{
	text-decoration: underline;
}
.footer-wrap img{
	float: left;
	margin-left: 65px;
}

#navigation{
	padding: 0;
	width:100%;
	min-width:1100px;
	background-color: rgb(48, 50, 50);
	color:white;
	height: 44px;
	list-style-type: none;
	text-decoration: none;
	font-size: 16px;
	box-shadow: 0 5px 5px #888;
	position: relative;
	z-index: 99;
}
#navigation ul{
	margin: 0px auto;
	width: 944px;
	overflow: hidden;
}
#navigation li{
	display: inline-block;
	float: left;
	margin: 2px 8px 0px 0px;
	padding: 0;
}
#navigation li dt a{
	line-height: 40px;
	box-sizing:border-box;
	width: 110px;
	height: 40px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid rgb(48,50,50);
}

#navigation li dt a:hover{
	color:red;
	background-color: #fff;
}


#navigation li a{
	color:#fff;
	display: block;
}
#navigation #first{
	padding-left: 0;
	/* margin-top: 0px; */
}
/* #navigation #first a{
	background-color: #fff;
	color:red;
	padding-left: 0;
	height: 42px;
} */
.special{
	background-color: #fff!important;
	color:red !important;
	padding-left: 0;
	height: 42px;
}
#navigation li dd{
	position: absolute;
	background-color: #fff;
	display: none;
	border-radius: 2px;
	border: 1px solid #f6f6f6;
}
#navigation li dd a{
	text-align: center;
	padding: 4px;
	box-sizing:border-box;
	width: 110px;
	color:black;
	font-size: 14px;
	background-color: #f6f6f6;
	border-radius: 2px;
	border: 1px solid #f6f6f6;
}

#navigation li dd a:hover{
	color:red;
	background-color: #fff;
	border-color: #fff;
}
#form_div{width:100%;height:542px;margin: 10px auto;background-color: #eee;border: 1px solid #e9d1d1;
	}
#form_div p{padding: 8px 0px 8px 18px;}
#form_div hr{position: relative;width:686px;left:18px;}
#form_div form{font-size: 16px;margin-top: 15px;}
#form_div span{display: inline-block;width:90px;text-align: left;margin-left: 47px;}
#form_div input[type = 'text']{border:0px;text-indent:5px;border-radius: 5px;height:33px; width:422px;margin-top: 14px;}
#form_div textarea{border:0px;text-indent:5px;margin-top: 14px;border-radius: 5px;}
#form_div .message_span{vertical-align: 70px;}

#form_div input[type = 'submit']{color:white;background-color: red;width: 111px;
 height:37px;border-radius: 6px;border:none;font-size: 16px;margin-left: 139px;font-weight: bold;margin-top: 30px;}
.warning { color: red; }
label.error {
	color: red;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.4;
	margin-top: 0.5em;
	width: 100%;
	float: none;}
